{% extends 'layout.html' %}

{% block body %}

<tr>
    <td>
        <a href="https://www.facebook.com/gilgamesh.lg.9/">
            <img src="..." class="img-thumbnail" alt="...">
        </a>
    </td>
    <td>
        <a href="https://twitter.com/Gilgamesh_06">
            <img src="" class="img-thumbnail" alt="...">
        </a>
    </td>
</tr>
<tr>
    <td>
        <a href="https://github.com/Gilgamesh06/ProyectoBD">
            <img src="" class="img-thumbnail" alt="...">
        </a>
    </td>
</tr>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Fluid jumbotron</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
  </div>

{% endblock %}