{% extends 'layout.html' %}

{% block body %}

<tr>
    <td>
        <a href="https://www.facebook.com/gilgamesh.lg.9/">
            <img src="https://github.com/Gilgamesh06/ProyectoBD/blob/main/Images/facebook.jpg?raw=true" class="img-fluid img-thumbnail" alt="Facebook" width="35%" height="35%" >
        </a>
    </td>
    <td>
        <a href="https://twitter.com/Gilgamesh_06">
            <img src="https://github.com/Gilgamesh06/ProyectoBD/blob/main/Images/twitter.png?raw=true" class="img-fluid img-thumbnail" alt="twitter" width="35%" height="35%">
        </a>
    </td>
</tr>
<tr>
    <td>
        <a href="https://github.com/Gilgamesh06">
            <img src="https://github.com/Gilgamesh06/ProyectoBD/blob/main/Images/github.png?raw=true" class="img-fluid img-thumbnail" alt="Github" width="35%" height="35%">
        </a>
    </td>
</tr>
<br>

</br>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">UBIQUENOS:</h1>
      <p class="lead"> calle Falsa 123.</p>
    </div>
  </div>

{% endblock %}