{% extends 'layout.html' %}

{% block body %}


<div id="accordion">
    <div class="card">
        <div class="card-header" id="headingOne">
            <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                    aria-controls="collapseOne">
                    Pateles
                </button>
            </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">

            <div class="card-group">
                <div class="card">
                    <img class="card-img-top"
                        src="https://github.com/Gilgamesh06/ProyectoBD/blob/main/Images/tarta-chocolate.jpg?raw=true"
                        alt="Card image cap" width="100" height="150">
                    <div class="card-body">
                        <h5 class="card-title">Tarta de chocolate</h5>
                        <p class="card-text"></p>
                        <button type="submit" class="btn btn-primary btn-block" class="form-control">
                            Añadir
                        </button>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                        src="https://github.com/Gilgamesh06/ProyectoBD/blob/main/Images/Best-Cheesecake-Recipe-2-1-of-1-4.jpg?raw=true"
                        alt="Card image cap" width="100" height="150">
                    <div class="card-body">
                        <h5 class="card-title">Cheescake</h5>
                        <p class="card-text"></p>
                        <button type="submit" class="btn btn-primary btn-block" class="form-control">
                            Añadir
                        </button>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                        src="https://github.com/Gilgamesh06/ProyectoBD/blob/main/Images/torta-tres-leches-con-merengue-italiano.jpg?raw=true"
                        alt="Card image cap" width="100" height="150">
                    <div class="card-body">
                        <h5 class="card-title">Tres leches</h5>
                        <p class="card-text"></p>
                        <button type="submit" class="btn btn-primary btn-block" class="form-control">
                            Añadir
                        </button>
                    </div>
                </div>
            </div>

            <div class="card-group">
                <div class="card">
                    <img class="card-img-top"
                        src="https://github.com/Gilgamesh06/ProyectoBD/blob/main/Images/hqdefault.jpg?raw=true"
                        alt="Card image cap" width="100" height="150">
                    <div class="card-body">
                        <h5 class="card-title">Pastel napolitano</h5>
                        <p class="card-text"></p>
                        <button type="submit" class="btn btn-primary btn-block" class="form-control">
                            Añadir
                        </button>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                        src="https://github.com/Gilgamesh06/ProyectoBD/blob/main/Images/tiramisu-clasico-pasos.jpg?raw=true"
                        alt="Card image cap" width="100" height="150">
                    <div class="card-body">
                        <h5 class="card-title">Tiramisu</h5>
                        <p class="card-text"></p>
                        <button type="submit" class="btn btn-primary btn-block" class="form-control">
                            Añadir
                        </button>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top"
                        src="https://github.com/Gilgamesh06/ProyectoBD/blob/main/Images/red-veltet.jpeg?raw=true"
                        alt="Card image cap" width="100" height="150">
                    <div class="card-body">
                        <h5 class="card-title">Red velvet</h5>
                        <p class="card-text"></p>
                        <button type="submit" class="btn btn-primary btn-block" class="form-control">
                            Añadir
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    Postres
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">

            <div class="card-group">
                <div class="card">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Mousse de chocolate</h5>
                        <p class="card-text"></p>
                        <button type="submit" class="btn btn-primary btn-block" class="form-control">
                            Añadir
                        </button>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Brownie</h5>
                        <p class="card-text"></p>
                            <button type="submit" class="btn btn-primary btn-block" class="form-control">
                                Añadir
                            </button>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Flan de caramelo</h5>
                        <p class="card-text"></p>
                        <button type="submit" class="btn btn-primary btn-block" class="form-control">
                            Añadir
                        </button>
                    </div>
                </div>
            </div>

            <div class="card-group">
                <div class="card">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Donas</h5>
                        <p class="card-text"></p>
                        <button type="submit" class="btn btn-primary btn-block" class="form-control">
                            Añadir
                        </button>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="..." alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Fresas con crema</h5>
                        <p class="card-text">
                        </p>
                        <button type="submit" class="btn btn-primary btn-block" class="form-control">
                            Añadir
                        </button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text"></p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>


{% endblock %}